#pre-footer {
	padding: 1rem;
	color: white;
	background-color: #002540;
	width: 30%;
	display: inline-block;
}


/*
#div {
	width: 20%;
	margin: auto;
	/*display: inline-block;
	vertical-align: top;*/

	*/