<!-- S05.1 Activity Instructions: 
1. In the s05.1 folder, create an activity folder and an index.html file.

2. Provided the following scenarios, use the tools at your disposal, look for resources online and provide your answer in a few sentences/provide a sample of working code in the index.html file:
a. You have an input tag and would like to make sure that the username field can only take a maximum of 15 characters. What would be the best way to implement this only using HTML.

b. You have an image and the picture you’re trying to show is only available online and your website displays a broken image with no information. You would like to display an alternative text instead when the image is not available. What can you use to achieve this output?

c. You have a website that you would like to display certain text as code so it’s easily readable by your users. What can you use to display code not as plain text but something similar to code written in a text editor?

d. Stretch Goal: You would like to have a self auto-scrolling image in your application to display multiple pictures in your website. A friend mentioned that you could use a CSS framework to get the job done. What could you use to quickly implement this in a matter of minutes?

3. Update your local frontend git repository and push to git with the commit message of Add activity code s05.1.

4. Add the link in Boodle for s05.1.
-->

<! -- Scenario A -->
<!-- You have an input tag and would like to make sure that the username field can only take a maximum of 15 characters. What would be the best way to implement this only using HTML? -->

<!-- An <input> element with a maximum length of 15 characters: -->
4 <!-- Solution A -->
<form action="/action_page.php">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" maxlength="15"><br><br>
  <input type="submit" value="Submit">
</form>

<!-- https://www.w3schools.com/tags/att_input_maxlength.asp -->

<! -- Scenario B -->
<!-- You have an image and the picture you’re trying to show is only available online and your website displays a broken image with no information. You would like to display an alternative text instead when the image is not available. What can you use to achieve this output? -->

<!-- Display text if image is not available -->
<!-- Solution B -->
<script> if (!LogoSrc==null){ </script>
    <img src="_#= $htmlEncode(LogoSrc) =#_" />
<script> } else { </script>
    <p style="font-size: 13pt; font-family: 'Malgun Gothic', Arial, sans-serif; color: #000000; font-weight: 700;">_#= Title =#_</p>
<script> } </script>

<!-- https://stackoverflow.com/questions/57872907/show-just-text-when-image-is-not-available

https://stackoverflow.com/questions/57283621/display-text-if-image-is-not-available
 -->

<! -- Scenario C -->
<!-- You have a website that you would like to display certain text as code so it’s easily readable by your users. What can you use to display code not as plain text but something similar to code written in a text editor? -->

<!-- How to display raw HTML code on an HTML page -->

<!-- Solution C.1 -->
<pre>
		&lt;html&gt;
</pre>

<!-- https://www.campuslife.co.in/Html/how-to-show-coding-in-html.php
 -->

<!-- Solution C.2 -->
<!-- Use CSS to style the <code> element -->
<html>
<head>
<style>
code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}
</style>
</head>
<body>

<p>The HTML <code>button</code> tag defines a clickable button.</p>
<p>The CSS <code>background-color</code> property defines the background color of an element.</p>

</body>
</html>

<!-- https://www.w3schools.com/tags/tag_code.asp

https://www.youtube.com/watch?v=yb9JAX55pA8
 -->

<! -- Scenario D -->
<!-- Stretch Goal: You would like to have a self auto-scrolling image in your application to display multiple pictures in your website. A friend mentioned that you could use a CSS framework to get the job done. What could you use to quickly implement this in a matter of minutes? -->

<!-- CSS for the scrolling images -->
<!-- Solution D -->
<style>
     * {margin: 0; padding: 0;}

     body {
        background-color: #666;
     }

    #container {
        width:70%;
        overflow: hidden;
        margin: 50px auto;
        background: white;
    }

    /*header*/
    header {
        width: 800px;
        margin: 40px auto;
    }

    header h1 {
        text-align: center;
        font: 100 60px/1.5 Helvetica, Verdana, sans-serif;

    }

    header p {
        font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
        text-align: justify;
    }

    /*photobanner*/

    .photobanner {
        height: 233px;
        width: 3550px;
        margin-bottom: -45px;
    }

    /*keyframe animations*/
    .first {
        -webkit-animation: bannermove 30s linear infinite;
           -moz-animation: bannermove 30s linear infinite;
            -ms-animation: bannermove 30s linear infinite;
             -o-animation: bannermove 30s linear infinite;
                animation: bannermove 30s linear infinite;
    }

    @keyframes "bannermove" {
     0% {
        margin-left: 0px;
     }
     100% {
        margin-left: -2125px;
     }

    }

    @-moz-keyframes bannermove {
     0% {
       margin-left: 0px;
     }
     100% {
       margin-left: -2125px;
     }

    }

    @-webkit-keyframes "bannermove" {
     0% {
       margin-left: 0px;
     }
     100% {
       margin-left: -2125px;
     }

    }

    @-ms-keyframes "bannermove" {
     0% {
       margin-left: 0px;
     }
     100% {
       margin-left: -2125px;
     }

    }

    @-o-keyframes "bannermove" {
     0% {
       margin-left: 0px;
     }
     100% {
       margin-left: -2125px;
     }

    }

    .photobanner img {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .photobanner img:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        cursor: pointer;

        -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
        box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    }
    </style>
   </head>

<!-- https://www.magictoolbox.com/magicscroll/integration/

https://thesassway.com/how-to-scroll-multiple-images-in-html-css/

https://www.w3schools.com/w3css/w3css_slideshow.asp

https://stackoverflow.com/questions/30565794/how-to-get-multiple-scrolling-images-in-html-continuously
 -->

